/*      #body{
      	background-color:black;
      }*/
      #map {
        width: 680px;
        height: 760px;
        margin: auto;
        border: 4px solid black;
        padding: 10px;
        float: right;
      }

      #controls{
      	float: left;
      }

      #myLocations{
      	float:left;
      }

        #pano {
        width: 680px;
        height: 760px;
        margin: auto;
        border: 4px solid black;
        padding: 10px;
        float: left;
      }

      #signin{
      	float:right;
      }
