      #map {
        width: 680px;
        height: 760px;
        border: 4px solid black;
        padding: 10px;
        float: right;
        padding-right: 30px;
        margin-right: 80px;
        margin-top: 70px;
      }

      #pano {
        width: 680px;
        height: 760px;
        border: 4px solid black;
        padding: 10px;
        float: right;
        padding-right: 30px;
        margin-top: 70px;
        margin-right: 40px;
      }

      #mapButton{
        background-color: #4CAF50; 
        border: 2px solid black;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
        font-family: Avenir;
        position: absolute;
        margin-left: 55px;
        margin-top: 200px;
      }

